In [58]:
import pandas as pd
import csv

Resident population in Italy, as downloaded from the [ISTAT website](https://www.istat.it/en/analysis-and-products/databases/statbase)

In [59]:
url = 'https://raw.githubusercontent.com/GiorgioBar/pandas/main/datasets/DCIS_POPRES1_11112022182247783.csv'
population_df = pd.read_csv(url)
# print(population_df.head(5))

In [60]:
'''
from google.colab import files
uploaded = files.upload()

# will open an upload dialogue window where you can browse and select your local files for upload

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))
''' and None

In [61]:
'''
import io
df = pd.read_csv(io.BytesIO(uploaded['DCIS_POPRES.csv']), quotechar='"')
''' and None

In [62]:
population_df.head()

,ITTER107,Territory,TIPO_DATO15,Demographic data type,SEXISTAT1,Gender,ETA1,Age,STATCIV2,Marital status,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,JAN,population on 1st January,1,males,Y0,0 years,99,total,2022,2022,205956,e,estimate data
1,IT,Italy,JAN,population on 1st January,2,females,Y0,0 years,99,total,2022,2022,195565,e,estimate data
2,IT,Italy,JAN,population on 1st January,9,total,Y0,0 years,99,total,2022,2022,401521,e,estimate data
3,ITC,Nord-ovest,JAN,population on 1st January,1,males,Y0,0 years,99,total,2022,2022,54122,e,estimate data
4,ITC,Nord-ovest,JAN,population on 1st January,2,females,Y0,0 years,99,total,2022,2022,51309,e,estimate data

In [64]:
# Select columns
columns = population_df.columns
# print(columns)
population_df =population_df[['ITTER107', 'Territory', 'SEXISTAT1', 'Gender', 'ETA1', 'Age', 'Value']]

In [65]:
# Do not write the row index number.
population_df.to_csv('population.csv', quoting=csv.QUOTE_ALL, index=False)

Land area of each province, as downloaded from the [ISTAT website](https://www.istat.it/en/analysis-and-products/databases/statbase)

In [66]:
url = 'https://raw.githubusercontent.com/GiorgioBar/pandas/main/datasets/DCCV_CARGEOMOR_ST_COM_11112022180330901.csv'
area_df = pd.read_csv(url)
# print(area_df.head(5))

In [67]:
area_df.head()

,ITTER107,Territory,TIPO_DATO4,Data type,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,TOTAREA,total area (Ha),2020,2020,3.020683e+07,NaN,NaN
1,IT,Italy,TOTAREA2,total area (km2),2020,2020,3.020683e+05,NaN,NaN
2,ITC,Nord-ovest,TOTAREA,total area (Ha),2020,2020,5.792680e+06,NaN,NaN
3,ITC,Nord-ovest,TOTAREA2,total area (km2),2020,2020,5.792680e+04,NaN,NaN
4,ITC1,Piemonte,TOTAREA,total area (Ha),2020,2020,2.538670e+06,NaN,NaN

In [69]:
# Select columns
columns = area_df.columns
# print(columns)
area_df = area_df[['ITTER107', 'Territory', 'TIPO_DATO4', 'Data type', 'Value']]

In [71]:
# Do not write the row index number.
area_df.to_csv('area.csv', quoting=csv.QUOTE_ALL, index=False)